/* Content Blocker Settings Styles */

@use '../styles/settings-shared.scss';
@use '../styles/arr-shared.scss';
@use '../styles/accordion-error-indicator.scss';
@use '../settings-page/settings-page.component.scss';